<% if (page.comment){ %>
<section id="comment">
  <h2 class="title"><%= __('comment') %></h2>
  <% if (theme.comment_js) { %>  	 
         <div id="gitalk-container"></div>
	 <script type="text/javascript">
	 const gitalk = new Gitalk({
           clientID: '7514dd37b5dcb295da22',
           clientSecret: '3beeb3031fb6dbd7f7517595fe427a96c183d700',
           repo: 'homepage-comments',      // The repository of store comments,
           owner: 'bojieli',
           admin: ['bojieli'],
           id: location.pathname,      // Ensure uniqueness and length less than 50
           distractionFreeMode: false  // Facebook-like distraction free mode
         })
         
         gitalk.render('gitalk-container')
	 </script>
  <% } else if(theme.duoshuo_shortname) { %>
  	 <div class="ds-thread" data-thread-key="<%- page.path %>" data-title="<%- page.title %>" data-url="<%- page.permalink %>"></div>  
  <% } else if(config.disqus_shortname) { %>
  	 <div id="disqus_thread">
     <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  	 </div>
  <% } %>
</section>
<% } %>
