<div class="col-md-3">
	<div id="sidebar">
	<% theme.widgets.forEach(function(widget){ %>
			<%- partial('../_widget/' + widget) %>
		<% }); %>
	</div> <!-- sidebar -->

	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4162298414689468"
     crossorigin="anonymous"></script>
    <!-- sidebar -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4162298414689468"
         data-ad-slot="6480250692"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div> <!-- col-md-3 -->
